<div>
    {{MSG}}
    {{MSG 'Ключ 0_1'}}
    {{MSG 'Ключ 0_1' 'Контекст 0_1'}}
    {{MSG 'Ключ 0_1' data_0_1}}
    {{MSG 'Ключ 0_1' 'Контекст 0_1' data_0_1}}

    {{!-- В комментариях не собирать... --}}
    {{!-- {{MSG 'Ключ 0_1'}} --}}
    {{! {{MSG 'Ключ 0_1' 'Контекст 0_1'}} }}

    {{MSG 'Ключ с форматированием: {result}' data}}

    {{MSG 'Ключ с форматированием: {count, plural, =0 {a} =1 {b} one {c} few {d} many {e} other {f}}' 'Контекст 0_1' data}}
</div>
