<div
  disabled
  x=""
  y=" "
  title = "Текст"
  placeholder =
    ' &nbsp;  Текст &ndash;
    Текст    &mdash;
    '
  >

  <span>Текст</span>
  <span> &nbsp;  Текст &ndash; Текст    &mdash;  </span>
  <span>Text Text</span>

  <div
    title="Текст"
    placeholder='  Текст Текст    '

    title-1="Текст Text"
    placeholder-1='Text Text'

    title-2="{{MSG 'Текст Текст'}}"
    placeholder-2="{{MSG 'Текст Текст'}}"
    >
    Текст Текст 1
    Текст Текст 1
  </div>

  <div>
    {{MSG 'Текст Текст'}}
    {{MSG 'Text Text'}}

    {{TXT 'Текст Текст'}}
  </div>

  {{#IF x '==' 'A'}}
    Текст Текст 1
    Текст Текст 1
  {{/IF}}

  {{#IF x '==' 'B'}}
    <div>Текст Текст 1</div>
    Текст Текст 1
    Текст Текст 1

    {{#IF y '==' 'C'}}
      <div>Текст Текст 1</div>
      Текст Текст 1
      Текст Текст 1
    {{/IF}}

    {{MSG 'Текст Текст'}}
  {{/IF}}

  <p>Текст Текст {{obj.name}} {{obj.value}}</p>

  {{#list x 'Текст Текст' text='Текст Текст'}}
    <p>{{text}}</p>
  {{/list}}

  {{#list x (MSG 'Текст Текст') text=(MSG 'Текст Текст')}}
    <p>{{text}}</p>
  {{/list}}

  {{!-- Helpers --}}
  <p>{{HLP 'Текст Текст' text='Текст Текст'}}</p>
  <p>{{HLP (MSG 'Текст Текст') text=(MSG 'Текст Текст')}}</p>

  <p>{{HLP 'Text Text' text='Текст Текст'}}</p>
  <p>{{HLP 'Text Text' text=(MSG 'Текст Текст')}}</p>

  {{!-- Partial --}}
  {{> item text='Текст Текст'}}
  {{> item text=(MSG 'Текст Текст')}}

  {{> item text=(TXT 'Текст Текст')}}
</div>

{{{MSG 'Текст Текст'}}}

{{{HLP 'Текст Текст' text='Текст Текст'}}}
{{{HLP '  Текст Текст    ' text='  Текст Текст    '}}}
{{{HLP (MSG 'Текст Текст') text=(MSG 'Текст Текст')}}}

<!----------------------------------------------------------------------------->

<span
  {{xxx}}
  alt="Текст"
  data="{{xxx}} >"
  title="Текст: {{~#IF X}}Текст 1{{else}}Текст 2{{~/IF~}}"
  {{~#IF  Y}}
    disabled
    placeholder="Текст: {{~#IF Z}} Текст 1 {{else}} Текст 2 {{~/IF~}}"
  {{else}}
    checked
  {{~/IF~}}
  {{yyy}}
>Текст Текст</span>

<span {{yyy}}>Текст Текст</span>

{{MSG 'Текст Текст'}}

<div>Текст Текст 1</div>

<img alt="Текст" data="{{zzz}} >" />

{{~#IF X}}Текст 1{{else}}Текст 2{{~/IF~}}

{{> item text='Текст Текст'}}

<!----------------------------------------------------------------------------->

<img alt="Текст X" data="{{xxx}} >" />

Текст Текст 1

<p>Текст Текст 1</p>

  Текст Текст 1

{{MSG 'Текст Текст 1'}}

<img alt="Текст Y" data="{{yyy}} >" />

Текст Текст 2

<p>Текст Текст 2</p>

  Текст Текст 2

{{MSG 'Текст Текст 2'}}

<img alt="Текст Z" data="{{zzz}} >" />

{{'Текст Текст'}}

<!----------------------------------------------------------------------------->

{{!--
В комментариях не оборачиваем...
  <div>Текст Текст</div>
  {{HLP 'Текст Текст 1'}}
--}}

{{!
В комментариях не оборачиваем...
  <div>Текст Текст</div>
  {{HLP 'Текст Текст 1'}}
}}

<!--
В комментариях не оборачиваем...
  <div>Текст Текст</div>
  {{HLP 'Текст Текст 1'}}
-->

<!----------------------------------------------------------------------------->

{{!--
TODO:
  Escaping Handlebars
--}}
