<div
  disabled
  x=""
  y=" "
  title = "{{MSG 'Текст'}}"
  placeholder =
    ' {{MSG '&nbsp;  Текст &ndash;
    Текст    &mdash;'}}
    '
  >

  <span>{{MSG 'Текст'}}</span>
  <span> {{MSG '&nbsp;  Текст &ndash; Текст    &mdash;'}}  </span>
  <span>Text Text</span>

  <div
    title="{{MSG 'Текст'}}"
    placeholder='  {{MSG 'Текст Текст'}}    '

    title-1="{{MSG 'Текст Text'}}"
    placeholder-1='Text Text'

    title-2="{{MSG 'Текст Текст'}}"
    placeholder-2="{{MSG 'Текст Текст'}}"
    >
    {{MSG 'Текст Текст 1
    Текст Текст 1'}}
  </div>

  <div>
    {{MSG 'Текст Текст'}}
    {{MSG 'Text Text'}}

    {{TXT (MSG 'Текст Текст')}}
  </div>

  {{#IF x '==' 'A'}}
    {{MSG 'Текст Текст 1
    Текст Текст 1'}}
  {{/IF}}

  {{#IF x '==' 'B'}}
    <div>{{MSG 'Текст Текст 1'}}</div>
    {{MSG 'Текст Текст 1
    Текст Текст 1'}}

    {{#IF y '==' 'C'}}
      <div>{{MSG 'Текст Текст 1'}}</div>
      {{MSG 'Текст Текст 1
      Текст Текст 1'}}
    {{/IF}}

    {{MSG 'Текст Текст'}}
  {{/IF}}

  <p>{{MSG 'Текст Текст'}} {{obj.name}} {{obj.value}}</p>

  {{#list x (MSG 'Текст Текст') text=(MSG 'Текст Текст')}}
    <p>{{text}}</p>
  {{/list}}

  {{#list x (MSG 'Текст Текст') text=(MSG 'Текст Текст')}}
    <p>{{text}}</p>
  {{/list}}

  {{!-- Helpers --}}
  <p>{{HLP (MSG 'Текст Текст') text=(MSG 'Текст Текст')}}</p>
  <p>{{HLP (MSG 'Текст Текст') text=(MSG 'Текст Текст')}}</p>

  <p>{{HLP 'Text Text' text=(MSG 'Текст Текст')}}</p>
  <p>{{HLP 'Text Text' text=(MSG 'Текст Текст')}}</p>

  {{!-- Partial --}}
  {{> item text=(MSG 'Текст Текст')}}
  {{> item text=(MSG 'Текст Текст')}}

  {{> item text=(TXT (MSG 'Текст Текст'))}}
</div>

{{{MSG 'Текст Текст'}}}

{{{HLP (MSG 'Текст Текст') text=(MSG 'Текст Текст')}}}
{{{HLP (MSG '  Текст Текст    ') text=(MSG '  Текст Текст    ')}}}
{{{HLP (MSG 'Текст Текст') text=(MSG 'Текст Текст')}}}

<!----------------------------------------------------------------------------->

<span
  {{xxx}}
  alt="{{MSG 'Текст'}}"
  data="{{xxx}} >"
  title="{{MSG 'Текст:'}} {{~#IF X}}{{MSG 'Текст 1'}}{{else}}{{MSG 'Текст 2'}}{{~/IF~}}"
  {{~#IF  Y}}
    disabled
    placeholder="{{MSG 'Текст:'}} {{~#IF Z}} {{MSG 'Текст 1'}} {{else}} {{MSG 'Текст 2'}} {{~/IF~}}"
  {{else}}
    checked
  {{~/IF~}}
  {{yyy}}
>{{MSG 'Текст Текст'}}</span>

<span {{yyy}}>{{MSG 'Текст Текст'}}</span>

{{MSG 'Текст Текст'}}

<div>{{MSG 'Текст Текст 1'}}</div>

<img alt="{{MSG 'Текст'}}" data="{{zzz}} >" />

{{~#IF X}}{{MSG 'Текст 1'}}{{else}}{{MSG 'Текст 2'}}{{~/IF~}}

{{> item text=(MSG 'Текст Текст')}}

<!----------------------------------------------------------------------------->

<img alt="{{MSG 'Текст X'}}" data="{{xxx}} >" />

{{MSG 'Текст Текст 1'}}

<p>{{MSG 'Текст Текст 1'}}</p>

  {{MSG 'Текст Текст 1'}}

{{MSG 'Текст Текст 1'}}

<img alt="{{MSG 'Текст Y'}}" data="{{yyy}} >" />

{{MSG 'Текст Текст 2'}}

<p>{{MSG 'Текст Текст 2'}}</p>

  {{MSG 'Текст Текст 2'}}

{{MSG 'Текст Текст 2'}}

<img alt="{{MSG 'Текст Z'}}" data="{{zzz}} >" />

{{'Текст Текст'}}

<!----------------------------------------------------------------------------->

{{!--
В комментариях не оборачиваем...
  <div>Текст Текст</div>
  {{HLP 'Текст Текст 1'}}
--}}

{{!
В комментариях не оборачиваем...
  <div>Текст Текст</div>
  {{HLP 'Текст Текст 1'}}
}}

<!--
В комментариях не оборачиваем...
  <div>Текст Текст</div>
  {{HLP (MSG 'Текст Текст 1')}}
-->

<!----------------------------------------------------------------------------->

{{!--
TODO:
  Escaping Handlebars
--}}
